.card {
  border: 0;
  text-align: center;
  font-size: 13px;
  & .doctor-pic {
    position: relative;

    & img {
      width: 100%;
      border-radius: 25px;
      height: 200px;
    }

    & img + div {
      position: absolute;
      background-color: #fff;
      border: 1px solid var(--optionalColorTwo);
      color: var(--optionalColorTwo);
      width:90%;
      padding:7px 3px;
      border-radius: 25px;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.5s ease;

      & a {
        justify-content: center;
        gap: 10px;
        align-items: center;
      }
      & span:first-child {
        padding: 5px;
        border-radius: 50%;
        background-color: var(--optionalColorTwo);
        border: 1px solid var(--optionalColorTwo);
        font-size: 5px;
        color: #fff;
        
      }
       & span:nth-child(2) {
       font-size: 12px;
       cursor: pointer;
      }
    }

    & img + div:hover {
      background-color: var(--optionalColorTwo);
      color: #fff;

      & span:first-child {
        background-color: #fff;
        color: var(--optionalColorTwo);
        transition: 0.5s ease;
        
      }
     
    }
  }
  & .doctor-info {
    padding: 20px 10px;
  }
  & .doctor-info p:first-child {
    transition: 0.5s ease;
  }
  & .doctor-info p:first-child:hover {
    color: var(--mainColor);
  }
}
@media (max-width:765px) {
  .card{
   & .doctor-pic {
      & img + div {
        width: 60%;
        padding: 10px 3px;
      }
   }
}
}