.bg-gradient-primary {
  background: linear-gradient(90deg, #0d6efd, #0a58ca);
}

.navbar-brand i {
  font-size: 1.5rem;
}

.card {
  border-radius: 1rem;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  padding: 0.75rem;
  font-weight: 500;
}

footer a:hover {
  color: #0d6efd !important;
}

.bi {
  font-size: 1.2rem;
}
