.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

span{
    color: #0067FF;
}
.form input{
    border-style: none;
    border-bottom: 1px solid black;
    width: 100%;
}

 .form {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.form input:focus{
    outline: none;
}

.btn {
  background-color: #0067FF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.error-text {
  color: #d32f2f;
  font-size: 14px;
  margin-top: 4px;
  text-align: left;
}
