.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.routerContent::-webkit-scrollbar{
  display: none;
}
.routerContent{
    scrollbar-width: none ;
  -ms-overflow-style: none;
}
.sidebar {
  border-top-right-radius: 40px;
  grid-row: 1 / span 2;
  background: linear-gradient(to bottom, var(--background-color), var(--mainColor), #ee91f7);
  color: #fff;
  width: 180px;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar .logo {
  width: 70px;
  height: 70px;
  
  margin: 15px auto;
  border-radius: 50%;
}

.sidebar .nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 90%;
  border-radius: 20px;
}

.sidebar .nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(4px);
}

.sidebar.collapsed .nav-link span {
  display: none;
}

.topbar {
  grid-column: 2;
  background: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 930;
}

.toggle-btn {
  color: var(--mainColor);
  border: none;
  border-radius: 6px;
  margin-right: 15px;
  padding: 6px 10px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 5px;
  color: var(--text-purple);
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--mainColor);
  margin-right: 10px;
}

.paitent-info {
  & p {
    margin-bottom: 0;
    font-size: 15px;
  }
}

.routerContent {
  padding: 3%;
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .layout {
    display: block;
    position: relative;
  }

  .sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    width: 240px !important;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .sidebar.offcanvas-active {
    left: 0;
  }

  .sidebar.collapsed .nav-link span {
    display: block;
  }

  .topbar {
    grid-column: 1 / -1;
    z-index: 950;
  }

  .routerContent {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    overflow-y: auto;
    padding-top: 60px; 
  }

  .offcanvas-Layout {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 960;
    background-color: #00000067;
  }
}