section:not(.banner) {
  padding: 10px 10%;

  img {
    min-width: 150px;
    width: 300px;
    border-radius: 20px;
  }
}
section:not(:last-of-type, :first-of-type) {
  .doctor-talk {
    background-color: var(--mainColor);
    color: #fff;
    padding: 20px 10px;
    border-radius: 20px;
    margin: 30px 0;
    font-style: italic;
    p:last-child {
      color: rgb(58, 5, 58);
      font-family: cursive;
      padding-left: 21px;
      position: relative;
    }
    p:last-child::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: rgb(58, 5, 58);
      left: 0;
      top: 98%;
    }
  }
  p:not(.doctor-talk p) {
    text-align: left;
    font-size: 16px;
    position: relative;
    padding-left: 20px;
    margin: 10px 0;
  }
  p:not(.doctor-talk p)::before {
    content: '';
    height: 100%;
    width: 3px;
    position: absolute;
    background: linear-gradient(to bottom, var(--background-color), var(--mainColor), #ee91f7);
    left: 5px;
  }
}
.banner {
  background-image: url('/banner-bg.jpg');
  background-size: cover;
  min-height: 400px;
}
.layout {
  height: 100%;
  background: #d7caeb44;
  color: #fff;
}

.content {
  width: fit-content;
  margin: auto;
  padding: 10% 10px;
  text-align: center;
  p {
    margin: 15px 0;
  }
}
.card {
  box-shadow: 0 6px 18px rgba(124, 99, 255, 0.18);
}


