:root{
    /* --main-color:#0cc0de;
    --assis-color:#9662fd; */
    --background-color:#131147;
    --text-color:#f5f1f1;
    --cards-color:#D7ECE4;
    --optionColor:#0B55E5;
    --optionalColorTwo: #F82828;
    --blackColor:#020D2B;
    --mainColor: #9588E8;
}
body {
    font-family: "Libre Franklin", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.shared-section-theme{
    padding: 5% 3%;
}

.shared-head{
 margin: 3% 0;
 text-align: center;
 

 & p:first-child{
    color: var(--optionColor);
    font-weight: bold;
    text-transform: capitalize;
 }
 & p:last-child{
    width: 46%;
    display: inline-block;
    color: var(--blackColor);
    font-size: 3rem;
    & span{
        font-weight: bolder;
    }
 }
}

@media (max-width:1100px) and (min-width:769px){
.shared-head{

 & p:last-child{
   width: 70%;
 }
}}

@media (max-width:768px){
.shared-head{
 & p:last-child{
   width: 100%;
    font-size: 1.6rem;
 }
}}
