/* You can add global styles to this file, and also import other style files */
:root{
    /* --main-color:#0cc0de;
    --assis-color:#9662fd; */
    --background-color:#131147;
    --text-color:#f5f1f1;
    --cards-color:#D7ECE4;
    
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.d-flex{
    display: flex;
}
html{
    scroll-behavior: smooth;
}