/* Start Bannner Style */
.banner {
    position: relative;
    background-image: url('/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 58vh;
}

.text-dark {
    color: #0d1b2a !important;
}

.text-secondary {
    color: #666 !important;
}

/* End Bannner Style */
/* start Doctor Section */
.our-doctors ul.nav.nav-tabs{
 justify-content: center;
 gap: 10px;
 border: 0 !important;
}
.our-doctors ul.nav.nav-tabs li {
    border: 0;
    background-color: #fff;   
}
.our-doctors ul.nav.nav-tabs li button{
    padding: 0.4rem 1.5rem;
    width: 100%;
    height: 100%;
    border: 0 !important;
    color: var(--blackColor);
    border-radius: 20px;
    border: 1px solid #C4DCF3 !important;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.our-doctors ul.nav.nav-tabs li .active{
    background-color: #C4DCF3;
}
.our-doctors ul.nav.nav-tabs li button:hover{
    background-color: #C4DCF3;
}
.tag {
    background-color: #C4DCF3;
    bottom: 20px !important;
    left: 10px !important;
}
.tag:hover {
    background-color: var(--mainColor);
    color:#fff;
    transition:all 0.3s ease;
}

@media (max-width:992px) {
    .our-doctors ul.nav.nav-tabs li button{
        padding: 3px;
        font-size: 13px;
    }
}
/* End Doctor Section */

