
.customer-opinions .row .head-p{
    color: #0B55E5;
    font-size: 12px;
    font-weight: 700;
}
.h2-with-opicaty{
font-size: 52px;
}
.image img{
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translateY(-30%) translateX(-15%); 
    animation-name: identifier;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2.5s;
}
@keyframes identifier {
    0%{
        transform: translateY(-30%) translateX(-15%); 
    }
    50%{
        transform: translateY(-30%) translateX(20%); 
    }
    100%{
        transform: translateY(-30%) translateX(-15%); 
    }
}
.customer-opinions .right-side .d-flex{
    gap: 10px;
}
/* .customer-opinions .right-side .col-6,.customer-opinions .right-side .col-11{
    border-radius: 20px;
} */
.customer-opinions .right-side .d-flex i{
    font-size: 30px;
}
.right-side .col-9 h3{
    font-size: 18px;
    font-weight: 600;
}
.customer-opinions .right-side .col-11 .icon{
    transform: translateY(25px);
    width: 72px;
    height: 72px;
    background-color: white;
    border-radius: 50px;
    position: relative;
    transition: 0.6s;
    
}
.customer-opinions .right-side .col-11 .icon i{

    color: #0B55E5;
    position: absolute;
    left: 7px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    transition: 0.6s;
    
}
.customer-opinions .right-side .col-11:hover .icon{
    background-color: blueviolet;
}
.customer-opinions .right-side .col-11:hover .icon i{
    color: white;
}
.opinions{
    background-color: #D6D2F1;
}
.img-with-opinion{
    gap: 20px;
}
.img-with-opinion img{
    border: none;
    border-radius: 50%;
}
.directions button{
    border: 1px solid white;
    margin-left: 15px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1/1;
    background-color: transparent;
    transition: 0.6s;
}
.directions button:hover{
    background-color: white;
}