

.heading {
    margin: 3% auto;
    text-align: center;
}
.heading h1{
    font-size: 65px;
    margin-bottom: 0%;
}
.heading p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2%;
    color: var(--background-color)#131147;
}
#image{
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
    width: 96%;
    border-radius: 5px;
    background-color: rgb(246, 249, 253);
}
.contact{
    color:var(--medical-primary) ;
}
.form-lab{
    color: var(--background-color);
}
form{
    margin: 4%;
    padding: 6% 4%;
    padding-bottom: 2%;
    box-shadow: var(--shadow-soft);
    border-radius: 15px;
    background-color: white;
}
form label{
    background-color: white;
}

form input{
    width: 100%;
    padding: 1.3%;
    margin-bottom: 4%;
    border-radius: 20px;
    border: 1px solid #aac5ff;
    background-color: rgb(220, 229, 255);
    outline-color:var(--medical-primary-light)#60a5fa;
}

form button{
    color: white;
    border-radius: 15px;
    padding: 1.6% 2.3%;
    margin-top: 1%;
    border: 1px solid;
    background-color:var(--blackColor) ;
}

form button:hover{
    background-color:var(--background-color) ;
}
.warning{
    margin-top: 5%;
    color: var(--optionalColorTwo);
}
.cards{
    margin-top: 5%;

}
.card{
    padding: 6% 7%;
    margin-bottom: 7%;
    border: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

}
.card h5{
    display: inline-block;
    font-size: 30px;
    color:var(--background-color);
}
.card i{
    font-size: 30px;
    color: var(--background-color);
}

.card p{
    font-size: 18px;
    color: var(--blackColor);
}
.card .servcie{
    display: flex;
    align-items: center;
    gap: 8%;
}
